body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.welcome {
    font-size: 14px;
    padding: 5px;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    color: #FFF;
}

a.src-code-link {
    color: #FFF;
}

a.src-code-link:hover,
a.src-code-link:focus {
    background-color: #11bb11;
}
